extends blocks/layout

block prepend head
    - pageTitle = "Login"
    - pageDesc = "Login açıklama metni"
    - pageClass = "login"

block content
    .plog
        .plog-img 
            +picture({sm:"https://via.placeholder.com/768", md:"https://via.placeholder.com/1024", lg:"https://via.placeholder.com/2048"})(alt="Login page")
        .plog-enters
            .tab-container.plog-tabs
                .tabs
                    button.tab.active Giriş Yap
                    button.tab Üye Ol
                .tab-panes
                    .tab-pane.active
                        +inputs('textbox','E-posta Adresi', 'js-user-login-email')(type="email")
                        +inputs('textbox','Şifre', 'js-user-login-password', 'eye')
                        .input-seperate 
                            +inputs('checkbox','Beni Hatırla', 'js-user-remember')
                            +button('Şifremi Unuttum', 'link', 'm')(href="/test")
                        +button('Giriş Yap', 'primary', 'm')
                        .input-seperate-other
                            span veya
                        .input-double.input-double-social 
                            +button('Google', 'outlined', 'm', badgy={img:'img/google-icon'})(class="text-hidden")
                            +button('Facebook', 'outlined', 'm', badgy={img:'img/facebook-icon'})(class="text-hidden")
                        .input-privacy-policy()
                            span 
                                |Sosyal medya hesabımla giriş yaparak hesaplarımın 
                                a(href="#") Gizlilik Politikası
                                |’na uygun şekilde bağlanmasını kabul ediyorum.
                    .tab-pane
                        .input-double.input-membership-select
                            +inputs('radio','Bireysel Üyelik', 'js-individual-membership')(checked, data-tab="click-individual")
                            +inputs('radio','Kurumsal Üyelik', 'js-corporate-membership')(data-tab="click-corporate")
                        .input-step-selection.active(data-tab="click-individual")
                            +inputs('textbox','Ad', 'js-user-name')
                            +inputs('textbox','Soyad', 'js-user-surname')
                            +inputs('textbox','E-Posta Adresi', 'js-user-email')(type="email")
                            +inputs('textbox','Şifre', 'js-user-passwords')
                            +inputs('textbox','Cep Telefonu', 'js-user-phone')
                        .input-step-selection.hidden(data-tab="click-corporate")
                            +select('Şirket','js-corporate-name')
                                each value in [{value: 'sirket', text: 'Şirket'}, {value: 'uni', text: 'Üniversite'}, {value: 'sanayi', text: 'Sanayi'}]
                                    option(value=value.value) #{value.text}
                            +select('Müşteri Tipi','js-corporate-type')
                                each value in [{value: 'a', text: 'Müşteri A'}, {value: 'b', text: 'Müşteri B'}, {value: 'c', text: 'Müşteri C'}]
                                    option(value=value.value) #{value.text}
                            +inputs('textbox','Telefon', 'js-corporate-phone')
                            +select('İl','js-corporate-province')
                                each value in [{value: 0, text: 'İstanbul'}, {value: 1, text: 'Ankara'}, {value: 2, text: 'İzmir'}]
                                    option(value=value.value) #{value.text}
                            +select('İlçe','js-corporate-district')
                                each value in [{value: 'a', text: 'İlçe A'}, {value: 'b', text: 'İlçe B'}, {value: 'c', text: 'İlçe C'}]
                                    option(value=value.value) #{value.text}
                            +inputs('textarea','Fatura Adresi', 'js-corporate-billing-address')
                        .input-privacy-policy 
                            +inputs('checkbox','İletişim izinleri kapsamında Prodigma A.Ş. tarafından önemli bilgilerden haberdar olmak için elektronik ileti almayı kabul ediyorum.', 'js-user-remember')
                        +button('Üyelik Oluştur', 'secondary btn-sign-in', 'm')
                        .input-subscribe-text
                            span Kişisel verileriniz, Aydınlatma Metni kapsamında işlenmektedir.
                                strong “Onay Kodu İste”
                                |butonuna basarak Üyelik Sözleşmesi’ni, Rıza Metni’ni, İletişim İzinleri’ni okuduğunuzu ve kabul ettiğinizi onaylıyorsunuz.
block foot
    block append footer