.swiper-cnc-gallery
    .swiper-cnc-gallery-title 
        | CNC İşleme Galerisi
    .swiper.swiper-cnc-widget
        .swiper-wrapper
            .swiper-slide
                .img
                    img(src=require('Images/car.png'), alt='car')
            .swiper-slide
                .img
                    img(src=require('Images/drone.png'), alt='drone')
            .swiper-slide
                .img
                    img(src=require('Images/plane.png'), alt='plane')
            .swiper-slide
                .img
                    img(src=require('Images/car.png'), alt='car')
            .swiper-slide
                .img
                    img(src=require('Images/drone.png'), alt='drone')
            .swiper-slide
                .img
                    img(src=require('Images/plane.png'), alt='plane')
        .swiper-pagination.hidden
        .swiper-scrollbar