.create-project
    .create-project-wrapper
        .create-project-header
            .create-project-header-title Prodigma ile bir proje  oluşturmaya hazır mısın?
            .create-project-header-desc Hemen oluşturmak istediğin proje türünü seç, adım adım özelliklere karar ver, Prodigma senin için üretsin!
        .create-project-body 
            ul 
                li 
                    button
                        img(src=require('Images/3d-baskı.png'), alt='3D Baskı')
                    span 3D Baskı    
                li 
                    button
                        img(src=require('Images/3d-baskı.png'), alt='CNC İşleme')
                    span CNC İşleme
                li 
                    button
                        img(src=require('Images/3d-baskı.png'), alt='Enjeksiyon  Kalıplama')
                    span Enjeksiyon Kalıplama
                li 
                    button
                        img(src=require('Images/3d-baskı.png'), alt='Enjeksiyon  Kalıplama')
                    span Enjeksiyon Kalıplama
                li 
                    button
                        img(src=require('Images/3d-baskı.png'), alt='Sac Metal İşleme')
                    span Sac Metal İşleme
                li 
                    button
                        img(src=require('Images/3d-baskı.png'), alt='Endüstriyel  Tasarım')
                    span Endüstriyel  Tasarım
                li
                    button
                        img(src=require('Images/3d-baskı.png'), alt='3D Tarama ve Tersine Mühendislik ')
                    span 3D Tarama ve Tersine Mühendislik 
                li
                    button
                        img(src=require('Images/3d-baskı.png'), alt='Ardıl işlemler')
                    span Ardıl işlemler
        .create-project-footer
            .create-project-footer-btn
                +button('Sonraki Adım', false ,'m', badgy={icon:'arrow-right'})
                    