.swiper-our-services
    .swiper-our-services-header 
        .swiper-our-services-tt1|Hizmetlerimiz
        //-.swiper-our-services-tt2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .swiper.swiper-our-widget
        .swiper-wrapper
            .swiper-slide
                a(href="/hizmetler-3d-baski.html") 
                    .img
                        img(src=require('Images/3d-tasarim.png'), alt='3D Baskı')
                .txt|3D Baskı
            //-.swiper-slide
                a(href="/hizmetler-cnc-isleme.html") 
                    .img
                        img(src=require('Images/cnc-isleme.png'), alt='CNC İşleme')
                .txt|CNC İşleme
            //-.swiper-slide
                a(href="/hizmetler-sac-metal-sekillendirme.html") 
                    .img
                        img(src=require('Images/sac-metal-isleme.png'), alt='Sac Metal Şekillendirme')
                    .txt|Sac Metal Şekillendirme
            .swiper-slide
                a(href="/hizmetler-3d-tarama-tersine-muhendislik.html") 
                    .img
                        img(src=require('Images/3d-tarama-tersine-muhendislik.png'), alt='3D Tarama ve Tersine Mühendislik')
                    .txt|3D Tarama ve Tersine Mühendislik
            .swiper-slide
                a(href="/hizmetler-endustriyel-tasarim.html") 
                    .img
                        img(src=require('Images/endustriyel-tasarim.png'), alt='Endüstriyel Tasarım')
                    .txt|Endüstriyel Tasarım
            .swiper-slide
                a(href="/hizmetler-ardil-islemler.html") 
                    .img
                        img(src=require('Images/ardil-islemler.png'), alt='Ardıl İşlemler')
                    .txt|Ardıl İşlemler
        .swiper-pagination.hidden
        .swiper-button-prev
        .swiper-button-next
        .swiper-scrollbar