.swiper-our-services
    .swiper-our-services-header 
        .swiper-our-services-tt1|Our Services
        //-.swiper-our-services-tt2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .swiper.swiper-our-widget
        .swiper-wrapper
            .swiper-slide
                a(href="/services-3d-printing.html") 
                    .img
                        img(src=require('Images/3d-tasarim.png'), alt='3D Baskı')
                    .txt|3D Printing
            //-.swiper-slide
                a(href="/hizmetler-cnc-isleme.html") 
                    .img
                        img(src=require('Images/cnc-isleme.png'), alt='CNC İşleme')
                .txt|CNC İşleme
            //-.swiper-slide
                a(href="/hizmetler-sac-metal-sekillendirme.html") 
                    .img
                        img(src=require('Images/sac-metal-isleme.png'), alt='Sac Metal Şekillendirme')
                    .txt|Sac Metal Şekillendirme
            .swiper-slide
                a(href="/services-3d-scanning-and-reverse-engineering.html") 
                    .img
                        img(src=require('Images/3d-tarama-tersine-muhendislik.png'), alt='3D Scanning and Reverse Engineering')
                    .txt|3D Scanning and Reverse Engineering
            .swiper-slide
                a(href="/services-industrial-design.html") 
                    .img
                        img(src=require('Images/endustriyel-tasarim.png'), alt='Industrial Design')
                    .txt|Industrial Design
            .swiper-slide
                a(href="/services-post-processing.html") 
                    .img
                        img(src=require('Images/ardil-islemler.png'), alt='Post Processing')
                    .txt|Post Processing
        .swiper-pagination.hidden
        .swiper-button-prev
        .swiper-button-next
        .swiper-scrollbar