.swiper-our-services
    .swiper-our-services-header 
        .swiper-our-services-tt1 Hizmetlerimiz
        .swiper-our-services-tt2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .swiper
        .swiper-wrapper
            .swiper-slide
                img(src=require('Images/3d-tasarim.png'), alt='3D Tasarım')
            .swiper-slide
                img(src=require('Images/cnc-isleme.png'), alt='CNC İşleme')
            .swiper-slide
                img(src=require('Images/silikon-kaplama.png'), alt='Silikon Kaplama')
            .swiper-slide
                img(src=require('Images/enjeksiyon-kaliplama.png'), alt='Enjeksiyon Kalıplama')
            .swiper-slide
                img(src=require('Images/enjeksiyon-kaliplama.png'), alt='Enjeksiyon Kalıplama')
            .swiper-slide
                img(src=require('Images/enjeksiyon-kaliplama.png'), alt='Enjeksiyon Kalıplama')
        .swiper-pagination.hidden
        .swiper-button-prev
        .swiper-button-next
        .swiper-scrollbar