.swiper-our-services
    .swiper-our-services-header 
        .swiper-our-services-tt1 Hizmetlerimiz
        .swiper-our-services-tt2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .swiper.swiper-our-widget
        .swiper-wrapper
            .swiper-slide
                .img
                    img(src=require('Images/3d-tasarim.png'), alt='3D Tasarım')
                .txt 3D Tasarım
            .swiper-slide
                .img
                    img(src=require('Images/cnc-isleme.png'), alt='CNC İşleme')
                .txt CNC İşleme
            .swiper-slide
                .img
                    img(src=require('Images/silikon-kaplama.png'), alt='Silikon Kaplama')
                .txt Silikon Kaplama
            .swiper-slide
                .img
                    img(src=require('Images/enjeksiyon-kaliplama.png'), alt='Enjeksiyon Kalıplama')
                .txt Enjeksiyon Kalıplama
            .swiper-slide
                .img
                    img(src=require('Images/enjeksiyon-kaliplama.png'), alt='Sac Metal İşleme')
                .txt Sac Metal İşleme
            .swiper-slide
                .img
                    img(src=require('Images/enjeksiyon-kaliplama.png'), alt='Endüstriyel Tasarım')
                .txt Endüstriyel Tasarım
        .swiper-pagination.hidden
        .swiper-button-prev
        .swiper-button-next
        .swiper-scrollbar