.page-flatpages-accordion
    ul.accordion.accordion-flatpages(id="accordion-faq", data-type='connected')
        li.acc-item(id="faq_1")
            .acc-header
                button(type=button)|Can I order online only?
            .acc-body
                .content
                    |Prodigma is an online platform with customized price quotations. If you cannot create an online order due to your corporate structure, you may contact us at 
                    a(href="mailto:info@prodigma.co" class="text-blue-200 underline")|info@prodigma.co
        li.acc-item(id="faq_2")
            .acc-header
                button(type=button)|How can I register on the Prodigma website?
            .acc-body
                .content
                    p 
                        a(href="/create-project.html", class="text-blue-200 underline")|Register
                    br
                    |You can create a user account in a few minutes using the link above. Complete a few requested data and wait for the confirmation email where you will find the link to activate your account permanently.
                    br
                    |If you do not receive the email within a few minutes, please check if it is in the SPAM folder or other company filters, if not, you can contact us using one of the available methods.
                    br
                    |Registration is completely free and without any obligations or deadlines.
                    br
                    |By registering you will be added directly to the newsletter to receive news and information on promotions, then you can unsubscribe at any time directly from your account or by contacting us.
        li.acc-item(id="faq_3")
            .acc-header
                button(type=button)|How can I contact you directly?
            .acc-body
                .content
                     p 
                        a(href="mailto:info@prodigma.co" class="text-blue-200 underline")|info@prodigma.co 
                     p 
                        a(href="tel:+902124854250" class="text-blue-200 underline")|+90 212 4854250 
        li.acc-item(id="faq_4")
            .acc-header
                button(type=button)|How do you protect uploaded designs?
            .acc-body
                .content
                    |Prodigma S.r.l: The Data Controller informs you as an interested party. 13 and 14 EU Regulation n. 2016/679 (hereinafter referred to as "GDPR") guarantees that your data will be processed in the following manner and for the following purposes.
        li.acc-item(id="faq_5")
            .acc-header
                button(type=button)|Is there a Confidentiality Agreement/NDA agreement?
            .acc-body
                .content
                    |We provide companies and individuals with the necessary agreement to protect their intellectual property rights and to protect the confidentiality of business processes while becoming a member. In addition, all design files you upload online are protected with end-to-end encryption (ISO27001).
                    p 
                        a(href="#" class="text-blue-200 underline")|Download the NDA agreement here
        li.acc-item(id="faq_6")
            .acc-header
                button(type=button)|Which 3D printing technologies does Prodigma use?
            .acc-body
                .content
                    |Prodigma uses industrial technologies such as FFF, CFF, SLM, SLA, ADAM.
        li.acc-item(id="faq_7")
            .acc-header
                button(type=button)|What materials are available for 3D printing?
            .acc-body
                .content
                    |Click 
                    a(href="/create-project.html" class="text-blue-200 underline")|here 
                    |to browse different material options for 3D printing.
        li.acc-item(id="faq_8")
            .acc-header
                button(type=button)|What materials are available for CNC machining?
            .acc-body
                .content
                    |Click 
                    a(href="/create-project.html" class="text-blue-200 underline")|here  
                    |to browse the different material options for CNC machining.
        li.acc-item(id="faq_9")
            .acc-header
                button(type=button)|How can I place an order on Prodigma?
            .acc-body
                .content
                    ul 
                        li 
                            |1.Upload your file 
                            a(href="/create-project.html" class="text-blue-200 underline")|here.
                        li 
                            |2.Choose between production technologies and materials.
                        li 
                            |3.Complete your payment.
                        li 
                            |4.You will receive an e-mail with order confirmation and feasibility check.
                        li 
                            |5.You can control the production and transportation process as you wish.
        li.acc-item(id="faq_10")
            .acc-header
                button(type=button)|How can I check the status of my order?
            .acc-body
                .content
                    |Sign in and click on your initials in the upper right corner of the screen and then click on “Orders”. You will see a list of orders arranged in chronological order by the most recent order.
                    br
                    strong|Your order may be in the following status:
                    br
                    |1. Your order has been received.
                    br
                    |2. Your order is being prepared.
                    br
                    |3. It has been shipped.
                    br
                    |4. It is delivered.
        li.acc-item(id="faq_11")
            .acc-header
                button(type=button)|What are the accepted maximum file sizes and formats for the design file you will upload?
            .acc-body
                .content
                    |The maximum size you can upload your design file is 150Mb. 
                    br
                    |3D PRINT file format: STEP/STP/IGES/STL/3DM/SLDPRT/X_T 
                    br
                    |CNC file format : STEP/STP/STL/SLDPRT/DXF 
                    br
                    |SAC-METAL file format: 3DM/IGES/IGS/STEP/STL
        li.acc-item(id="faq_12")
            .acc-header
                button(type=button)|I don't have a 3D CAD file. Can you create one for me?
            .acc-body
                .content
                    |You can reach the Industrial Design, 3D Scanning and Reverse Engineering services we offer you. 
                    a(href="/create-project.html" class="text-blue-200 underline")|Click 
                    |to start your project.
        li.acc-item(id="faq_13")
            .acc-header
                button(type=button)|Will I receive an invoice for my order?
            .acc-body
                .content
                    |Prodigma issues invoices for all your purchases.
        li.acc-item(id="faq_14")
            .acc-header
                button(type=button)|Can I reorder previously made parts?
            .acc-body
                .content
                    |With Prodigma it is easy and fast to reorder parts ordered in the past.
                    br
                    |In your user area under "Library" you can find all the parts you have ordered, easily searchable by name or order reference (WO). From here you can change some of the product's features and add them to your order.
        li.acc-item(id="faq_15")
            .acc-header
                button(type=button)|Why is my file not uploading?
            .acc-body
                .content
                    |This issue usually occurs for technical reasons. Common problems are that the file is in a different format, the file size is large, or it contains errors when exported. If you have the same problem after checking your file, you can contact us via 
                    a(href="mailto:info@prodigma.co" class="text-blue-200 underline")|info@prodigma.co
        li.acc-item(id="faq_16")
            .acc-header
                button(type=button)|Can I choose a customized shipping date?
            .acc-body
                .content
                    |You can choose your preferred shipping date. You can customize the date when creating an order.
        li.acc-item(id="faq_17")
            .acc-header
                button(type=button)|How/where do I upload my CAD file?
            .acc-body
                .content
                    |Click 
                    a(href="/create-project.html" class="text-blue-200 underline")|here 
                    |to upload your CAD file.
        li.acc-item(id="faq_18")
            .acc-header
                button(type=button)|Do you offer any discounts?
            .acc-body
                .content
                    ul
                        li
                            strong|Welcome discount:
                            |Your first order special discount code will be sent to your e-mail.
                        li
                            strong|Education discount:
                            |Special discount will be defined for ‘’edu’’ mails used by academicians and students.
        li.acc-item(id="faq_19")
            .acc-header
                button(type=button)|Can I order a single part/prototype or long-term part?
            .acc-body
                .content
                    |With Prodigma you can order any number of parts. Once you have uploaded your CAD file to the online quotation page, you will be free to choose from predefined quantities or enter a customized quantity.
        li.acc-item(id="faq_20")
            .acc-header
                button(type=button)|What are the minimum wall thicknesses required for 3D printing?
            .acc-body
                .content
                    |Every printing technology requires the design to have a minimum thickness to ensure correct feasibility and satisfactory printing.
                    br
                    |The minimum thickness guaranteed for printing with FFF/CFF/ADAM technologies is 1.2 mm.
                    br
                    |The minimum thickness guaranteed for printing with SLA/SLM technology is 0.5 mm.
        li.acc-item(id="faq_21")
            .acc-header
                button(type=button)|Can you make hollow the CAD file I uploaded? (Hollow)
            .acc-body
                .content
                    |We may help if requested in order to optimize the cost.
        li.acc-item(id="faq_22")
            .acc-header
                button(type=button)|How do I make the payment?
            .acc-body
                .content
                    |You can pay by credit card and bank transfer.
        li.acc-item(id="faq_23")
            .acc-header
                button(type=button)|How can I pay by bank transfer?
            .acc-body
                .content
                    |Bank details AD: Prodigma IBAN: X
        li.acc-item(id="faq_24")
            .acc-header
                button(type=button)|Can I get a formal offer?
            .acc-body
                .content
                    |On the My Orders page, in the order detail, there will be a button to download the official offer. We will receive an e-mail and we will send the offer.
        li.acc-item(id="faq_25")
            .acc-header
                button(type=button)|I want to place a corporate order, how can I do it?
            .acc-body
                .content
                    |It is very easy to register as "corporate" when creating your billing address for an existing order in Prodigma. Once the offer is completed and corporate is selected, you can complete the process after filling in the current information. In the future, go to the addresses page, click the "Add Address" or "Edit Address" button and select the desired "Billing" address type.
        li.acc-item(id="faq_26")
            .acc-header
                button(type=button)|Do you also work with individuals?
            .acc-body
                .content
                    |When registering on the Prodigma website, you will be asked whether the account you are creating will be for a company or for a private individual. Simply click on the individual membership option.