.page-flatpages-accordion
    ul.accordion.accordion-flatpages(id="accordion-faq", data-type='connected')
        li.acc-item(id="faq_1")
            .acc-header
                button(type=button)|Yalnızca çevrimiçi mi sipariş verebilirim?
            .acc-body
                .content
                    |Prodigma talebe özel fiyatlandırmanın yapıldığı bir online platformdur. Kurumsal yapınız gereği çevrimiçi sipariş oluşturamıyorsanız 
                    a(href="mailto:info@prodigma.co" class="text-blue-200 underline")|info@prodigma.co 
                    |adresinden iletişime geçebilirsiniz.
        li.acc-item(id="faq_2")
            .acc-header
                button(type=button)|Prodigma web sitesine nasıl kayıt olabilirim?
            .acc-body
                .content
                    p 
                        a(href="/proje-baslat.html", class="text-blue-200 underline")|Kayıt Ol
                    br
                    |Yukarıdaki linki kullanarak birkaç dakika içinde bir kullanıcı hesabı oluşturabilirsiniz. İstenen birkaç veriyi tamamlayın ve hesabınızı kalıcı olarak etkinleştirmek için tıklama bağlantısını bulacağınız onay e-postasını bekleyin.
                    br
                    |E-postayı birkaç dakika içinde almazsanız, lütfen SPAM klasöründe veya diğer şirket filtrelerinde olup olmadığını kontrol edin, yoksa mevcut yöntemlerden birini kullanarak bizimle iletişime geçebilirsiniz. Kayıt tamamen ücretsizdir ve herhangi bir yükümlülük veya son tarih içermez.
                    |Kaydolarak, bilgi ve promosyonları almak için doğrudan haber bültenine ekleneceksiniz, istediğiniz zaman doğrudan hesabınızdan veya bizimle iletişime geçerek aboneliğinizi iptal edebilirsiniz.
        li.acc-item(id="faq_3")
            .acc-header
                button(type=button)|Sizinle nasıl iletişime geçebilirim?
            .acc-body
                .content
                     p 
                        a(href="mailto:info@prodigma.co" class="text-blue-200 underline")|info@prodigma.co 
                     p 
                        a(href="tel:+902124854250" class="text-blue-200 underline")|+90 212 4854250 
        li.acc-item(id="faq_4")
            .acc-header
                button(type=button)|Yüklenen tasarımları nasıl koruyorsunuz?
            .acc-body
                .content
                    |Prodigma S.r.l: Veri Sorumlusu, ilgili taraf olarak sizi bilgilendirir. 13 ve 14 AB Yönetmeliği n. 2016/679 (bundan böyle “GDPR” olarak anılacaktır), verilerinizin aşağıdaki şekilde ve aşağıdaki amaçlarla işleneceğini garanti eder.
        li.acc-item(id="faq_5")
            .acc-header
                button(type=button)|Gizlilik Sözleşmesi / NDA anlaşması var mı?
            .acc-body
                .content
                    |Şirketlere ve bireylere fikri mülkiyet haklarını korumak ve iş süreçleriyle ilgili gizliliği korumak için gerekli anlaşmayı üye olurken sağlıyoruz. Buna ek olarak, çevrimiçi yüklediğiniz tüm tasarım dosyaları uçtan uca şifreleme (ISO27001) ile korunuyor.
                    p 
                        a(href="#" class="text-blue-200 underline")|NDA anlaşmasını buradan indirin
        li.acc-item(id="faq_6")
            .acc-header
                button(type=button)|Prodigma hangi 3D baskı teknolojilerini kullanıyor?
            .acc-body
                .content
                    |Prodigma FFF, CFF, SLM, SLA, ADAM gibi endüstriyel teknolojileri kullanıyor.
        li.acc-item(id="faq_7")
            .acc-header
                button(type=button)|3D baskı için hangi malzemeler mevcut?
            .acc-body
                .content
                    |3D baskı için farklı malzeme seçeneklerine göz atmak için 
                    a(href="/proje-baslat.html" class="text-blue-200 underline")| buraya 
                    |tıklayın.
        li.acc-item(id="faq_8")
            .acc-header
                button(type=button)|CNC işleme için hangi malzemeler mevcut?
            .acc-body
                .content
                    |CNC işleme için farklı malzeme seçeneklerine göz atmak için 
                    a(href="/proje-baslat.html" class="text-blue-200 underline")| buraya 
                    |tıklayın.
        li.acc-item(id="faq_9")
            .acc-header
                button(type=button)|Prodigma’ya nasıl sipariş verebilirim?
            .acc-body
                .content
                    ul 
                        li 
                            |1.Dosyanızı 
                            a(href="/proje-baslat.html" class="text-blue-200 underline")| buraya 
                            |yükleyin.
                        li 
                            |2.Üretim teknolojileri ve malzemeler arasından seçiminizi yapın.
                        li 
                            |3.Ödemenizi tamamlayın.
                        li 
                            |4.Sipariş onayı ve fizibilite kontrolünü içeren bir e-posta tarafınıza iletilir.
                        li 
                            |5.Üretim ve nakliye sürecini dilediğiniz gibi kontrol edebilirsiniz.
        li.acc-item(id="faq_10")
            .acc-header
                button(type=button)|Yükleyeceğiniz tasarım dosyası için kabul edilen maksimum dosya boyutu ve formatları nedir?
            .acc-body
                .content
                    |Tasarım dosyanızı yükleyebileceğiniz maksimum boyut 150Mb 'dir.
                    br
                    |3D BASKI dosya formatı: STEP/STP/IGES/STL/3DM/SLDPRT/X_T
                    br
                    |CNC dosya formatı: STEP/STP/STL/SLDPRT/DXF
                    |SAC-METAL dosya formatı: 3DM/IGES/IGS/STEP/STL
        li.acc-item(id="faq_11")
            .acc-header
                button(type=button)|3 boyutlu bir CAD dosyam yok. Benim için bir tane yaratabilir misiniz?
            .acc-body
                .content
                    |Size sunduğumuz Endüstriyel Tasarım, 3D Tarama ve Tersine Mühendislik hizmetlerinden yararlanabilirsiniz. Projenizi başlatmak için 
                    a(href="/proje-baslat.html" class="text-blue-200 underline")| tıklayın 
        li.acc-item(id="faq_12")
            .acc-header
                button(type=button)|Siparişim için fatura alacak mıyım?
            .acc-body
                .content
                    |Prodigma tüm satın alımlarınız için fatura düzenler.
        li.acc-item(id="faq_13")
            .acc-header
                button(type=button)|Önceden yapılmış parçaları yeniden sipariş edebilir miyim?
            .acc-body
                .content
                    |Prodigma ile geçmişte sipariş edilen parçaları yeniden sipariş etmek kolay ve hızlıdır. Kullanıcı alanınızda "Kütüphane" altında, sipariş ettiğiniz tüm parçaları isim veya sipariş referansı (WO) ile kolayca aranabilecek şekilde bulabilirsiniz. Buradan ürünün bazı özelliklerini değiştirebilir ve siparişinize ekleyebilirsiniz.
        li.acc-item(id="faq_14")
            .acc-header
                button(type=button)|Dosyam neden yüklenmiyor?
            .acc-body
                .content
                    |Bu sorun genellikle teknik nedenlerden ortaya çıkar. Dosyanın farklı bir formatta olması, dosya boyutunun büyük olması veya dışa aktarıldığında hata içermesi yaygın problemlerdendir. Dosyanızı kontrol ettikten sonra tekrar aynı problemi yaşıyorsanız info@prodigma.co üzerinden bizimle iletişime geçebilirsiniz.
        li.acc-item(id="faq_15")
            .acc-header
                button(type=button)|Özelleştirilmiş bir gönderim tarihi seçebilir miyim?
            .acc-body
                .content
                    |Tercih ettiğiniz gönderim tarihini seçebilirsiniz. Sipariş oluştururken tarihini özelleştirebilirsiniz.
        li.acc-item(id="faq_16")
            .acc-header
                button(type=button)|CAD dosyamı nasıl / nereye yüklerim?
            .acc-body
                .content
                    |CAD dosyanızı yüklemek için 
                    a(href="/proje-baslat.html" class="text-blue-200 underline")| buraya 
                    | tıklayın.
        li.acc-item(id="faq_17")
            .acc-header
                button(type=button)|Herhangi bir indirim uyguluyor musunuz?
            .acc-body
                .content
                    ul
                        li
                            strong|Hoşgeldiniz indirimi:
                            |İlk siparişe özel indirim kodunuz e-postanıza iletilecektir.
                        li
                            strong|Eğitim indirimi:
                            |Akademisyen ve öğrencilerin kullandığı edu maillerine özel indirimli tanımlı olacaktır.
        li.acc-item(id="faq_18")
            .acc-header
                button(type=button)|Tek bir parça/prototip veya uzun süreli parça sipariş edebilir miyim?
            .acc-body
                .content
                    |Prodigma ile dilediğiniz sayıda parça sipariş edebilirsiniz. CAD dosyanızı çevrimiçi fiyat teklifi sayfasına yüklendikten sonra, önceden tanımlanmış miktarlar arasından seçim yapmakta veya özelleştirilmiş bir miktar girmekte özgür olacaksınız.
        li.acc-item(id="faq_19")
            .acc-header
                button(type=button)|3D baskı için gerekli olan minimum duvar kalınlıkları nelerdir?
            .acc-body
                .content
                    |Her baskı teknolojisi, doğru fizibilite ve tatmin edici baskı sağlamak için tasarımın minimum kalınlığa sahip olmasını gerektirir.
                    br
                    |FFF/CFF/ADAM teknolojileri ile baskı için garanti edilen minimum kalınlık 1,2 mm'dir.
                    br
                    |SLA/SLM teknolojisi ile baskı için garanti edilen minimum kalınlık 0,5 mm'dir.
        li.acc-item(id="faq_20")
            .acc-header
                button(type=button)|Yüklediğim CAD dosyanın içini boşaltabiliyor musunuz? (Hollow)
            .acc-body
                .content
                    |Maliyeti optimize edebilmek için talep edilirse yardımcı oluyoruz.
        li.acc-item(id="faq_21")
            .acc-header
                button(type=button)|Ödemeyi nasıl gerçekleştiriyorum?
            .acc-body
                .content
                    |Kredi Kartı ve banka havalesi ile ödemenizi gerçekleştirebilirsiniz.
        li.acc-item(id="faq_22")
            .acc-header
                button(type=button)|Banka havalesi ile nasıl ödeme yapabilirim?
            .acc-body
                .content
                    |Banka detayları AD: Prodigma IBAN: X
        li.acc-item(id="faq_23")
            .acc-header
                button(type=button)|Resmi bir teklif alabilir miyim?
            .acc-body
                .content
        li.acc-item(id="faq_24")
            .acc-header
                button(type=button)|Kurumsal sipariş vermek istiyorum, nasıl yapabilirim?
            .acc-body
                .content
                    |Prodigma’daki mevcut sipariş için fatura adresinizi oluştururken "kurumsal" olarak kaydolmak çok kolay. Teklif tamamlanıp, kurumsal seçildikten sonra cari bilgileri doldurduktan sonra işlemi tamamlayabilirsiniz. İlerleyen zamanlarda ise adresler sayfasına gidin, "Adres Ekle" veya "Adresi Düzenle" düğmesini tıklayın ve istediğiniz "Faturalandırma" adres türünü seçin.
        li.acc-item(id="faq_25")
            .acc-header
                button(type=button)|Bireysel kişilerle de çalışıyor musunuz?
            .acc-body
                .content
                    |Prodigma web sitesine kaydolurken, oluşturduğunuz hesabın bir şirket için mi yoksa özel bir kişi için mi olacağı sorulacak. Bireysel üyelik seçeneğine tıklamanız yeterlidir.